.course-nav {
  border-radius: 0px;
  text-align: left;
}

.course-nav .list-group-item {
  height: 40px;
  border: none;
  color: red;
  padding-left: 5px;
}

.course-nav a:hover {
  text-decoration: underline ;
}

.course-nav a.active {
  background-color: white;
  color: black;
  font-weight: 500;
  border-radius: 0px;
  border-left: 2px black solid;
}