/* .main-content .row {
    width: 80vw !important;
} */

.main-content .row .col-10 {
    justify-content: right !important;
}

.search {
    width: 250px;
}

.add-group, .add-group:hover {
    width: 100px;
    background-color: #f5f5f5 !important;
    border: 1px solid #bebebe !important;
}

button.vertical-ellipsis {
    width: 25px;
    background-color: #f5f5f5;
    border: 1px solid #bebebe;
}

button.add-assignment {
    width: 140px;
}

.assignment-link {
    color: black;
    text-decoration: none;
}

.assignment-link:hover {
    text-decoration: underline !important;
}

.edit-content .row {
    /* width: 80vw !important; */
    justify-content: right !important;
}

.publish-status {
    width: 130px !important;
    text-decoration: none !important;
}

.edit-field {
    justify-content: center !important;
}

.col-3 {
    width: 25% !important;
}

.edit-input {
    width: 50% !important;
}

.half-edit-input {
    width: 24% !important;
}

.cancel-button {
    color: black !important;
    background-color: #f5f5f5 !important;
    border: 1px solid #bebebe !important;
}

.cancel-button:hover {
    color: black !important;
    background-color: #f5f5f5 !important;
    border: 1px solid #bebebe !important;
}

.assignments .assignments-title {
    background-color: gainsboro;
    font-weight: 500;
}

/* .assignment-link .list-group-item {
    border-radius: 0px !important;
    height: 45px !important;
} */

.published {
    color: green;
}

li.list-group-item.assignment-li {
    border-radius: 0px;
    height: 45px;
}

/* .assignment-buttons {
    width: 25vw !important;
} */

.assignment-content {
    width: 75vw !important;
}

.col {
    height: 100% !important;
}

.bold-text {
    font-weight: 500;
}