.page-content {
  margin: 10px;
  margin-left: 0px;
  /* margin-left: 85px; */
  /* width: calc(100% - 145px); */
  width: 100%;
  justify-content: center;
  align-items: center;
}

.account-btn {
  width: 80px;
}